doctype html
html
	head
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
	body
		table(class='table table-striped')
			thead
				tr
					th Name
			tbody
				each val in names 
					tr
						td=val.name